@import "mixins.scss";


$black: #252525;
$greenblack: #232E23;
$yellow: #FFCD39;
$yellowLight: #FFF0C4;
$green: #5FBB7A;
$red: #EE6B6B;
$blue: #8499FF;
$grey: #F8F9F8;


* {
  box-sizing: border-box;
  font-family: "FuturaBookC", sans-serif;
  font-weight: 400;
}

.main-wrap{
  overflow: hidden;
  position: relative;
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

button{
  outline: 0;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

select{
  outline: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

body{
  color: #090909;
}

.oh{
  overflow: hidden;
}

a{
  color: #090909;
}

.desktop{
  @media (max-width: 992px) {
    display: none !important;
  }
}

.table-1100{
  @include from-1100{
    display: none!important;
  }
}

.desktop-1100{
  @include for-1100{
    display: none!important;
  }
}

.tablet{
  @media (min-width: 992px) {
    display: none !important;
  }
}
.mobile{
  @media (min-width: 768px) {
    display: none !important;
  }
}

input{
  transition: 0.3s;
}
.correct input,
.correct textarea{
  border-color: $green !important;
}

.error-field input,
.error-field textarea{
  border-color: #EB5757 !important;
}

.error-message{
  display: none;
}

.error-field .error-message{
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  color: #EB5757;
  position: absolute;
  right: 0;
  bottom: -20px;
}

.page__wrapper{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.custom-row{
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}

.custom-col{
  padding: 0 10px;
}

.site-container{
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.site-title{
  font-family: 'FuturaMediumC', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
  align-items: center;
  text-align: center;
  color: #242E24;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

  @include for-992{
    font-size: 28px;
    line-height: 44px;
  }

  span{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: $green;
  }

  &--big{
    font-size: 66px;
  }
}

.site-desc{
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $greenblack;
  margin-top: 20px;
  margin-bottom: 45px;
}

.site-btn{
  border: 2px solid $green;
  background-color: $green ;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  align-items: center;
  min-height: 50px;
  transition: .3s;

  span{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
    padding: 0 23px;
    transition: .3s;
  }

  &:hover{
    background-color: transparent;

    span{
      color: $greenblack;
    }
  }


  &--yellow{
    border-color: $yellow;
    background-color: $yellow;
    box-shadow: 0px 8px 12px rgba(151, 123, 42, 0.2);

    span{
      color: $black;
    }

    &:hover{
      background-color: transparent;
      box-shadow: none;

      span{
        color: $black;
      }
    }

    &-light{
      box-shadow: none;
      border-color: #FFF0C4;
      background-color: #FFF0C4;
    }
  }


  &--transparent{
    background-color: transparent;

    span{
      color: $greenblack;
    }

    &:hover{
      background-color: $green;

      span{
        color: white;
      }
    }
  }

  &--white{
    border-color: white;
    background-color: white;

    span{
      color: #252525;
    }

    &:hover{

      span{
        color: white
      }
    }
  }

  &--grey{
    background: transparent;
    border-color: #ECECEC ;

    span{
      color: #252525;
    }

    &:hover{
      background-color: $yellow;
      border-color: $yellow;
    }
  }

  &.white{

    span{
      color: white;
    }
  }



}

.site-btn--yellow.site-btn--transparent{

  &:hover{
    background-color: $yellow;

    span{
      color: $black;
    }
  }
}



.site-form{

  &__row{
    display: flex;
    margin-bottom: 15px;
  }

  &__row-inner{
    display: flex;
    margin: 0 -5px;
    width: 100%;

    & > div{
      padding: 0 5px;
    }
  }

  &__input{
    width: 100%;
    max-width: 325px;
    position: relative;


    &--50{
      width: 50% !important;
    }

    &--38{
      width: 38% !important;
    }

    &--33{
      width: 33.33333% !important;
    }

    &--25{
      width: 25% !important;
    }

    &--20{
      width: 20% !important;
    }


    &--phone{
      position: relative;

      input{
        padding-left: 55px !important;
      }

      &:before{
        content: '';
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        height: 10px;
        width: 14px;
        background: url("../img/ico/ua-flag.svg") center/contain no-repeat;
      }
    }

    label{
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 22px;
      color: #272F27;
      padding-left: 25px;
    }

    input{
      background: #FFFFFF;
      border: 0.5px solid #DEDFDE;
      box-sizing: border-box;
      border-radius: 33px;
      height: 59px;
      width: 100%;
      padding: 0 25px;
      font-size: 14px;
      line-height: 22px;
      color: #2B2727;


      &:read-only{
        background: #EFEFEF;
      }
    }
  }


  &__select{
    width: 100%;
    max-width: 325px;

    label{
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 22px;
      color: #272F27;
      padding-left: 25px;
    }

    .ui-selectmenu-text{
      height: 100%;
      display: flex;
      align-items: center;
    }

    .ui-selectmenu-button.ui-button{
      background: #FFF;
      border: .5px solid #DEDFDE;
      box-sizing: border-box;
      border-radius: 33px;
      height: 59px;
      width: 100%;
      padding: 0 25px;
      font-size: 14px;
      line-height: 22px;
      color: #2B2727;
      outline: none;
    }

    .ui-button .ui-icon{
      background-image: url("../img/ico/arrow-right.svg");
      transform: rotate(90deg) translateX(-50%);
      position: absolute;
      right: 23px;
      top: calc(50% - 3px);
      height: 11px;
      width: 6px;
      z-index: 100;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }


  &__checkbox{

    label{
      font-size: 14px;
      line-height: 22px;
      color: #2B2727;
      padding-left: 30px;
      position: relative;

      &:before{
        content: '';
        background: #FFFFFF;
        border: 0.5px solid #DEDFDE;
        box-sizing: border-box;
        border-radius: 3px;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 0;
        top: 2px;
      }

      &:after{
        content: '';
        width: 9px;
        height: 7px;
        background: url("../img/ico/check-green.svg") center/contain no-repeat;
        position: absolute;
        top: 7px;
        left: 4px;
        display: none;
      }
    }

    input{
      display: none;
    }

    input:checked + label:after{
      display: block;
    }
  }

  &__radio{

    label{
      font-size: 15px;
      line-height: 18px;
      color: #292620;
      padding-left: 26px;
      position: relative;

      &:before{
        content: '';
        background: #FFFFFF;
        background: #FFFFFF;
        border: 0.5px solid #DEDFDE;
        box-sizing: border-box;
        border-radius: 33px;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 0;
        top: 0;
      }

      &:after{
        content: '';
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #FFCD28;
        border: 2px solid #FFCD28;
        position: absolute;
        top: 4px;
        left: 4px;
        display: none;
      }
    }

    input{
      display: none;
    }

    input:checked + label:before{
      border: 2px solid #FFCD28;
    }
    input:checked + label:after{
      display: block;
    }
  }


  &__hr{
    height: 1px;
    background: #EBE9E9;
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
  }


}

.page__content{
  margin-top: 70px;
  min-height: calc(100vh - 176px);
}

.trialDishPage .page__content,
.cartPage .page__content,
.orderPage .page__content{
  margin-top: 0;
  min-height: calc(100vh - 106px);
  background-color: #F8F9F8;
}

.swiper-container{

  .custom-button-prev{
    width: 40px;
    height: 40px;
    background: url("../img/ico/button-prev.svg") center/contain no-repeat;
    cursor: pointer;
    transition: .3s;

    &:hover{
      opacity: 0.6;
    }

    &[aria-disabled="true"]{
      pointer-events: none;
      opacity: .3;
    }
  }

  .custom-button-next{
    width: 40px;
    height: 40px;
    background: url("../img/ico/button-next.svg") center/contain no-repeat;
    cursor: pointer;
    transition: .3s;

    &:hover{
      opacity: 0.6;
    }

    &[aria-disabled="true"]{
      pointer-events: none;
      opacity: .3;
    }
  }
}

.basket-count{
  background: #F4F4F4;
  border: 1px solid #DEDFDE;
  box-sizing: border-box;
  border-radius: 40px;
  width: 67px;
  height: 28px;
  display: flex;

  &__btn{
    border: 0;
    outline: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &.minus{
      padding: 10px 0 10px 10px;
    }

    &.plus{
      padding: 10px 10px 10px 0;
    }
  }

  &__input{
    border: 0;
    background: transparent;
    text-align: center;
    width: 30px
  }

}

.header{
  background: white;
  box-shadow: 0px 10px 25px rgba(187, 194, 196, 0.37);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  &__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__top{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo{

  }

  &__logo-l{
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__content{
    display: flex;
  }

  &__nav{
    display: flex;
    margin: 0 -13px;

    @include for-992{
      margin: 0 -7px;
    }
  }

  &__nav-item{
    padding: 0 13px;

    @include for-992{
      padding: 0 7px;
    }
  }

  &__nav-link{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: $greenblack;
    position: relative;
    transition: .3s;

    @include for-992{
      padding: 0 10px;
    }

    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 40px;
      background: $green;
      left: 50%;
      transform: translateX(-50%);
      transition: .3s;
      opacity: 0;
    }

    &:hover{
      color: $black;
    }

    @include from-550{
      &:hover:after,
      &.active:after {
        opacity: 1;
      }
    }
  }

  &__btn{
    display: flex;
    align-items: center;
    margin-left: 20px;

    @include for-992{
      margin-left: 10px;
    }
  }

  &__btn-i{

  }

  &__basket{

  }
}


.top-basket{
  border-top: 1px solid #EFEFEF;

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-wrap{
    width: 100%;
    overflow: hidden;
    position: relative;

    &:after{
      content: '';
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      width: 95px;
      height: 100%;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }

    .mCSB_horizontal.mCSB_inside>.mCSB_container{
      margin-bottom: 0;

      &:hover{

        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
          background-color: $green;
        }
      }
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background-color: $green;
    }
  }

  &__list{
    height: 93px;
    margin: 0 -12px;
    width: max-content;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__item{
    //max-width: 255px;
    max-width: 279px;
    width: 100%;
    padding: 0 12px;
    display: inline-flex;
  }

  &__item-content{
    display: flex;
    align-items: center;
    height: 100%;
  }


  &__item-img{

  }

  &__item-info{
    padding: 0 15px;
  }

  &__item-name{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #3B3D44;
  }

  &__item-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-price{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #94969A;
    display: flex;

    span{
      font-family: FuturaMediumC,sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #3B3D44;
    }
  }

  &__item-count{
    margin-left: 7px;
  }

  &__item-btn{

  }

  &__info{
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #EFEFEF;
    align-items: center;
    padding-left: 40px;
    max-width: 465px;
    width: 100%;
    height: 93px;
  }

  &__info-price{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #94969A;

    span{
      font-family: FuturaMediumC,sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #252525;
      margin-top: 5px;
      display: flex;
    }
  }

  &__info-btn{
    display: flex;
  }

  &__info-btn-i{
    min-height: 58px;
    margin-left: 20px;
  }

}


.breadcrumb{
  background: white;
  padding: 40px 0;
  margin: 0;

  &__inner{
    display: flex;
    justify-content: center;
  }

  &__i{
    font-size: 12px;
    line-height: 22px;
    color: #232E23;
    position: relative;
    transition: .3s;

    &:hover{
      color: $green;
    }

    &:after{
      content: '/';
      margin: 0 10px;
    }

    &:last-child{
      color: #B3B3B3;

      &:after{
        display: none;
      }

      &:hover{
        color: #B3B3B3;
      }
    }
  }
}


.top-block{
  padding-top: 35px;

  &__inner{

  }

  &__item{
    position: relative;

  }

  &__img{


    @include for-1100{
      height: 400px;
    }
  }

  &__img-i{
    @include for-1400{
      width: 100%;
    }

    @include for-1100{
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-body{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title{
    font-weight: 500;
    font-size: 66px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;

    @include for-1300{
      font-size: 40px;
      line-height: 46px;
    }
  }

  &__txt{
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;

    @include for-1300{
      margin-bottom: 15px;
      line-height: 24px;
      font-size: 16px;
    }
  }

  &__btn{
    display: flex;
    justify-content: center;
  }

  &__btn-i{
    margin: 0 8px;
    min-height: 62px;

    @include for-1300{
      min-height: 50px;
    }

    span{
      padding: 0 34px;
      font-size: 16px;
      line-height: 18px;
    }
  }

}


.hiw{
  padding-top: 80px;
  padding-bottom: 65px;

  &__inner{

  }

  &__title{

  }

  &__list{
    display: flex;
    justify-content: center;
    margin: 0 -20px;
    margin-top: 25px;
  }

  &__item{
    padding: 0 20px;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--1 {
      .hiw__item-img {

        &:before {
          content: '';
          position: absolute;
          width: 11px;
          height: 11px;
          right: -8px;
          top: -8px;
          background: url("../img/cucumber.svg") center/contain no-repeat;
        }

        &:after {
          content: '';
          position: absolute;
          width: 26px;
          height: 22px;
          right: -30px;
          top: 10px;
          transform: scale(-1, 1);
          background: url("../img/fish.svg") center/contain no-repeat;
        }
      }
    }

    &--2{
      .hiw__item-img {

        &:before{
          content:'';
          position: absolute;
          width: 16px;
          height: 20px;
          left: -25px;
          bottom: -5px;
          background: url("../img/cheese.svg") center/contain no-repeat;
        }


        img {
          transform: rotate(100deg);
        }
      }
    }

    &--3{
      .hiw__item-img {

        &:before {
          content: '';
          position: absolute;
          width: 16px;
          height: 16px;
          right: -11px;
          top: -11px;
          background: url("../img/cucumber.svg") center/contain no-repeat;
        }

        &:after {
          content: '';
          position: absolute;
          width: 26px;
          height: 22px;
          left: -25px;
          bottom: 5px;
          background: url("../img/fish.svg") center/contain no-repeat;
        }
      }
    }
  }

  &__item-img{
    position: relative;
    margin-bottom: 15px;
  }

  &__item-title{
    text-align: center;
    font-family: 'FuturaMediumC', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color: #3B3D44;
    margin-bottom: 10px;
    margin-bottom: 12px;
  }

  &__item-txt{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #272F27;
    opacity: 0.6;
  }

}


.menu{

  &__container{
    background: $grey;
    display: flex;
    justify-content: center;
    border-radius: 20px;
  }

  &__body{
    max-width: 1057px;
    padding-top: 115px;
    padding-bottom: 80px;
    width: 100%;


    @include for-992{
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__head{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body-item{

  }

  &__body-title{
    margin: 0 50px;
  }

  &__body-tab{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
  }

  &__body-tab-i{
    width: 140px;
    padding: 0 10px;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #3B3D44;
    position: relative;
    display: block;
    height: 42px;
    transition: .3s;

    &:hover{
      color: $yellow;
    }

    &:after{
      content: '';
      bottom: 0;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 15px;
      background: #E7EAE7;
      transition: .3s;
      display: block;
    }

    &.active{

      &:after{
        background: $yellow;
      }

    }
  }

  &__body-content{
    position: relative;
    overflow: hidden;
  }

  &__body-content-item{
    display: none;


    &.active{
      display: block;
    }
  }

  &__list{

  }

  &__item{
    margin-bottom: 20px;
    width: 33.33333%;

    @include for-992{
      width: 50%;
    }
  }

  &__item-content{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: .3s;

    &:hover{
      box-shadow: 0px 0 20px -10px #989898;
    }
  }

  &__item-img{
    display: flex;
    justify-content: center;
    padding-top: 20px;

    img{
      width: 250px;
      height: 250px;
      object-fit: contain;
    }
  }

  &__item-info{
    padding: 5px 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__item-category-i{
    font-family: FuturaMediumC,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    padding: 6px;
    border-radius: 4px;
    margin: 0 5px;

    &:hover{
      color: white;
    }

    &.blue{
      background-color: $blue;
    }

    &.green{
      background-color: $green;
    }

    &.red{
      background-color: $red;
    }
  }

  &__item-name{
    font-family: FuturaMediumC,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #3B3D44;
    transition: .3s;
    margin-bottom: 12px;

    &:hover{
      color: $green;
    }
  }

  &__item-desc{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #B3B3B3;
  }

  &__item-bottom{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    height: 60px;
  }

  &__item-price{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FuturaMediumC,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #252525;
    border-top: 1px solid rgba(179, 179, 179, 0.2);
    border-left: 1px solid rgba(179, 179, 179, 0.2);
    border-bottom: 1px solid rgba(179, 179, 179, 0.2);
    border-radius: 0 0 0 20px;
  }

  &__item-btn{
    width: 50%;
    height: 100%;
  }


  &__item-btn-i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #FFF0C4;
    border-radius: 0 0 20px 0;
    transition: .3s;

    span{
      font-family: FuturaMediumC, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      color: #252525;
    }

    &:hover{
      background: $yellow;
    }

    .choose{
      display: initial;
    }

    .added{
      display: none;
    }

    &--added{
      background: $yellow;


      .choose{
        display: none;
      }

      .added{
        display: initial;
      }

      svg path{
        fill: #3B3D44;
      }

    }
  }

  &__item-btn-ico{
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background: $yellow;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    svg path{
      transition: .3s;
    }
  }

  &__item-portions{
    position: absolute;
    right: 42px;
    top: 50px;
    width: 62px;
    height: 62px;
    background: url("../img/ico/portions-ico.svg") center/contain no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 11px;;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
  }

}


.info-block{
  display: flex;
  padding-top: 80px;

  @include for-992{
    flex-direction: column-reverse;
  }

  &__txt{

  }

  &__title{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 46px;
    display: flex;
    align-items: center;
    color: #242E24;
    margin-bottom: 20px;
  }

  p{
    font-size: 18px;
    line-height: 26px;
    color: #272F27;
    max-width: 420px;

    @include for-992{
      max-width: 100% ;
    }
  }

  &__btn{
    margin-top: 35px;
    max-width: fit-content;
  }

  &__btn-i{
    height: 62px;

    span{
      font-size: 16px;
      line-height: 18px;
      padding: 0 62px;
    }
  }

  &__img{
    @include for-992{
      margin-bottom: 30px;

      img{
        width: 100%;
        height: auto;
      }
    }
  }

}


.delivery{
  padding-top: 90px;
  padding-bottom: 88px;
  border-bottom: 1px solid #F1F2F1;
  position: relative;

  @include for-992{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &:before{
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 580px;
    background: #F8F9F8;

    @include for-992{
      display: none;
    }
  }

  &__inner{
    position: relative;
    z-index: 2;
  }

  &__title{

  }

  &__desc{

  }

  &__img{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

    @include for-992{
      margin-bottom: 20px;
    }

    img{
      width: 100%;
    }
  }

  &__list-wrap{
    display: flex;
    justify-content: center;
  }

  &__list{
    max-width: 1000px;
    width: 100%;
  }

  &__item{
    width: 25%;

    @include for-992{
      width: 50%;
    }
  }

  &__item-content{
    @include for-992{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &__item-ico{
    margin-bottom: 25px;

    @include for-992{
      margin-bottom: 10px;
    }
  }

  &__item-name{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3B3D44;
    margin-bottom: 10px;

    @include for-992{
      text-align: center;
    }
  }

  &__item-desc{
    font-size: 14px;
    line-height: 18px;
    color: #272F27;
    opacity: 0.6;

    @include for-992{
      text-align: center;
    }
  }

}


.why-we{
  padding-top: 75px;
  padding-bottom: 75px;

  @include for-992{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__inner{

  }

  &__title{

  }

  &__desc{

  }

  &__img{
    position: relative;
    display: flex;
    justify-content: center;


    img{
      width: 100%;

      @include for-992{
        object-fit: cover;
        height: 430px;
        object-position: calc(-200px);
      }
    }
  }

  &__img-content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include for-1100{
      padding-left: 0;
    }
  }

  &__img-title{
    margin-bottom: 25px;
    font-family: FuturaMediumC,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 46px;
    display: flex;
    align-items: center;
    color: #242E24;

  }

  &__img-txt{
    font-size: 18px;
    line-height: 26px;
    color: #272F27;
    max-width: 420px;
  }

}


.theses{

  &__inner{
    display: flex;
    justify-content: center;
  }

  &__list{
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    width: 100%;
  }

  &__item{
    display: flex;
    flex-direction: column;

    @include for-992{
      margin-bottom: 20px;
    }
  }

  &__name{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #65B458;
    margin-bottom: 10px;
  }

  &__desc{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #272F27;
  }

}


.order-question{
  padding-top: 70px;
  padding-bottom: 80px;

  @include for-992{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__inner{
    max-width: 1000px;
  }

  &__list{
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;

    @include for-992{
      margin: 0 -15px;
      flex-direction: column;
    }
  }

  &__item{
    width: 50%;
    padding: 0 20px;

    @include for-992{
      padding: 0 15px;
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &__item-content{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 323px;
  }

  &__item--order  &__item-content{
    background: #65B458;
  }
  &__item--question  &__item-content{
    background: #F8F9F8;
  }

  &__img{
    margin-bottom: 20px;
  }

  &__title{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__item--order  &__title{
    color: #FFFFFF;
  }

  &__item--question &__title{
    color: #3B3D44;
  }

  &__desc{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 30px;
  }

  &__item--order  &__desc{
    color: #FFFFFF;
  }
  &__item--question  &__desc{
    color: #272F27;
  }

  &__btn{
    display: flex;
    justify-content: center;
  }

  &__btn-i{
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 62px;

    span svg{
      margin-right: 10px;
    }
  }

}


.delivery-menu{
  background: #F8F9F8;
  border-radius: 20px;
  padding-top: 70px;
  padding-bottom: 70px;

  &__inner{
    display: flex;
    justify-content: center;
  }

  &__body{
    max-width: 1060px;
    width: 100%;
  }
}


.our-menu-block{
  background: #F8F9F8;
  padding-top: 90px;
  padding-bottom: 70px;

  &__inner{
    display: flex;
    justify-content: center;
  }

  &__body{
    max-width: 1060px;
    width: 100%;
  }

  &__title{
    margin-bottom: 25px;

    @include for-992{
      margin-bottom: 10px;
    }
  }
}


.card-detail{
  background: #F8F9F8;

  &__inner{
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(205, 205, 205, 0.15);
    border-radius: 0 0 12px 12px;
    position: relative;
    z-index: 2;
    align-items: center;
    flex-direction: column;
  }

  &__content{
    display: flex;
    justify-content: space-between;
    max-width: 780px;
    width: 100%;
  }

  &__img{
    width: 300px;
    height: 300px;
  }

  &__info{
    width: 100%;
    padding-left: 70px;
    padding-top: 25px;

    @include for-992{
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__category{
    justify-content: flex-start;
    margin-bottom: 20px;

    a.menu__item-category-i {
      margin: 0;
      margin-right: 10px;
    }
  }

  &__name{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    font-size: 38px;
    margin-bottom: 20px;
    color: #242E24;
  }

  &__row-info{
    display: flex;
    margin: 0 -6px;
    padding-bottom: 24px;
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 20px;

    span{
      padding: 0 6px;
      font-family: FuturaMediumC, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 12px;
      color: #232E23;
      display: flex;
      align-items: center;

      svg{
        margin-right: 7px;
      }
    }
  }

  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__bottom-col{

  }

  &__price{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #232E23;
    margin-bottom: 5px;
  }

  &__price-desc{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #B3B3B3;

    span{
      color: #505050;
    }
  }

  &__bottom-btn{
    max-width: 180px;
    width: 100%;
  }

  &__bottom-btn-i{
    min-height: 58px;
    max-width: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__tab-wrap{
    background: white;
    border-radius: 0 0 12px 12px;
  }

  &__tab-inner{
    max-width: 570px;
  }

  &__tab{
    display: flex;
    justify-content: space-around;
    margin: 0 -13px;
    height: 70px;
  }

  &__tab-link{
    padding: 0 13px;
    height: 100%;
  }

  &__tab-i{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: $greenblack;
    position: relative;
    transition: .3s;

    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 40px;
      background: $green;
      left: 50%;
      transform: translateX(-50%);
      transition: .3s;
      opacity: 0;
    }

    &:hover{
      color: $black;
    }

    @include from-992{
      &:hover:after,
      &.active:after {
        opacity: 1;
      }
    }
  }

  &__tab-list{

  }

  &__tab-item{
    display: none;
    padding-top: 20px;
    padding-bottom: 60px;

    &.active{
      display: block;
    }
  }

  &__tab-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #E6E6E6;
    padding-top: 20px;
    padding-bottom: 20px;

    span:first-child{
      font-size: 14px;
      line-height: 18px;
      color: #232E23;
    }

    span:last-child{
      font-family: FuturaMediumC, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 12px;
      text-align: right;
      color: #232E23;
    }

  }

  &__tab-head{
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #E6E6E6;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #3B3D44;
  }



}


.cart{

  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__head{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100px;
    width: 100%;
  }

  &__head-logo{

  }

  &__head-btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__head-btn-i{

  }

  &__content{
    display: flex;
    max-width: 1060px;
    width: 100%;
    margin: 0 -30px;
    padding-top: 30px;
    padding-bottom: 60px;

    @include for-1100{
      flex-direction: column;
    }
  }

  &__order{
    padding: 0 30px;

    @include for-1100{
      padding: 0;
      margin-bottom: 20px;
    }

  }

  &__order-inner{
    background-color: white;
    box-shadow: 0px 4px 15px rgba(205, 205, 205, 0.25);
    border-radius: 12px;
    width: 360px;
    display: flex;
    flex-direction: column;

    @include for-1100{
      width: 100%;
    }
  }

  &__order-title{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #242E24;
    padding: 40px 30px 15px;
  }

  &__order-list-wrap{
    padding: 0 35px;
    max-height: 300px;
    position: relative;

    &:after{
      content: '';
      left: 0;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 70px;
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 93.75%);
      transform: rotate(180deg);
    }

    .mCSB_scrollTools .mCSB_draggerContainer{
      height: calc(100% - 30px);
    }

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
      width: 3px !important;
    }

    .mCS-light-3.mCSB_scrollTools .mCSB_draggerRail{
      width: 3px !important;
      background-color: #F4F4F4;
    }

    .mCSB_inside>.mCSB_container{
      margin-bottom: 0;
      margin-right: 25px;

      &:hover{

        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
          background-color: $green;
        }
      }
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background-color: $green;
    }
  }

  &__order-list{
    padding-bottom: 70px;

    @include for-1100{
      margin: 0 -15px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__order-item{
    padding-left: 0;
    padding-right: 0;

    @include for-1100{
      max-width: 100%;
      width: 50%;
      padding: 0 15px;
    }

    .top-basket__item-content{
      align-items: flex-start;
      margin-bottom: 18px;
    }

    .top-basket__item-name{
      margin-bottom: 14px;
    }

    .top-basket__item-row{
      flex-direction: column;
      align-items: flex-start;
    }

    .top-basket__item-price{
      margin-bottom: 14px;
    }

    .top-basket__item-count{
      margin-left: 0;
    }

    .top-basket__item-btn{
      margin-top: 15px;
    }

  }

  &__order-total{
    display: flex;
    justify-content: space-between;
    padding: 35px;
    border-top: 1px solid #EFEFEF;
  }

  &__order-total-txt{
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #252525;
  }

  &__order-total-price{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #252525;
  }

  &__personal{
    padding: 0 30px;
    max-width: 635px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 15px;

    @include for-1100{
      padding: 0;
    }

  }


  &__personal-tab{
    display: flex;
    margin: 0 -10px;
    margin-bottom: 50px;
  }

  &__personal-tab-i{
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: #AEADAA;
    position: relative;

    span{
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #ECE2D3;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: FuturaMediumC, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 22px;
      text-align: center;
      color: #80766A;
      margin-right: 10px;
    }

    svg{
      margin-left: 20px;
      path{
        fill: #989086;
      }
    }

    &.active{
      color: #292620;

      span{
        color: #292620;
        background-color: $yellow;
      }

      svg{
        margin-left: 20px;
        path{
          fill: #292620;
        }
      }
    }

    &.check{
      color: #292620;

      span{
        background-color: $green;
        font-size: 0;
        line-height: 0;
        position: relative;

        &:after{
          content: '';
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../img/ico/check.svg") center no-repeat;
        }
      }

      svg{
        margin-left: 20px;
        path{
          fill: #292620;
        }
      }
    }
  }

  &__personal-step{
    display: none;

    &.active{
      display: flex;
      flex-direction: column;
    }

    &.w400{
      .site-form__row{
        max-width: 400px;
      }
      .site-form__row-inner{
        width: auto;
      }

      .site-form__input{
        max-width: 100%;
      }
    }
  }

  &__personal-title{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 44px;
    display: flex;
    color: #242E24;
    margin-bottom: 15px;
  }

  &__personal-txt{
    font-size: 16px;
    line-height: 22px;
    color: #272F27;
    margin-bottom: 25px;

    span{
      font-family: FuturaMediumC, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #272F27;
    }

    a{
      font-family: FuturaMediumC, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: $green;
    }
  }


  &__personal-back-link{
    background: rgba(171, 218, 185, 0.5);
    border-radius: 40px;
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $green;
    height: 37px;
    padding: 0 12px;
    transition: .3s;
    margin-bottom: 20px;

    svg{
      margin-right: 8px;

      path{
        transition: .3s;
      }
    }

    &:hover{
      background: $green;
      color: white;

      svg path{
        fill: white;
      }
    }
  }

}


.order{

  &__content{
    padding-top: 95px;
    padding-bottom: 95px;
  }

  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__check{
    width: 96px;
    height: 96px;
    background: $yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;


    svg{
      height: 32px;
      width: 40px;
    }
  }

  &__title{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #242E24;
    margin-bottom: 22px;
  }

  &__number{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #272F27;
    margin-bottom: 40px;

    span{
      font-weight: 600;
    }
  }

  &__btn{
    max-width: 190px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__btn-i{
    width: 100%;
    justify-content: center;
  }

}


.tdish{

  &__inner{
    max-width: 620px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 66px;
  }

  &__title{

  }

  &__list{
    margin-top: 40px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;


    .menu__item{
      width: 50%;
      margin-bottom: 0;

      &:first-child{
        border-right: 1px dashed #E6E6E6;
      }
    }

    .menu__item-content{
      border-radius: 0;
    }

    .menu__item-content:hover{
      box-shadow: none;
    }
  }

  &__btn{
    display: flex;
    justify-content: center;
  }

  &__btn-i{

  }

}


.footer{

  &__inner{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 46px;
  }

  &__sotial{
    width: 33.3333%;
  }

  &__sotial-i{
    margin-right: 12px;

    & * {
      transition: .3s;
    }

    &:hover{

      svg{

        path{
          fill: $green;
        }

        rect{
          stroke: $yellow;
        }
      }
    }

  }

  &__copyring{
    width: 33.3333%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #A7A5A3;
  }

  &__phone{
    width: 33.3333%;
    display: flex;
    justify-content: flex-end;
  }

  &__phone-i{
    display: flex;
    align-items: center;

    span{
      transition: .3s;
    }

    &:hover{

      span {
        color: $green;
      }
    }

    picture{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }

    span{
      font-family: FuturaMediumC, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: $black;
    }
  }

}


.popup{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  transition: .3s all;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;

  &.open{
    z-index: 350;
    opacity: 1;
    visibility: visible;
  }

  &__body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 150px;
  }

  &__inner{
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  &__content{
    max-width: 750px;
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 11.18px 1.82px rgba(0, 0, 0, 0.07);
  }

  &__close{
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    transition: .3s all;
    z-index: 3;

    &:hover{
      opacity: .7;
    }
  }

  &__close-ico{
    display: flex;
    width: 100%;
    height: 100%;
    background: url("../img/ico/close.svg") center no-repeat;
    background-size: contain;

  }

}

.order-detail{

  &__content{
    padding-top: 50px;
    background: #FFFFFF;
    border-radius: 25px;
    width: 680px;
  }

  &__title{
    font-family: FuturaMediumC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 44px;
    text-align: center;
    color: #242E24;
    width: 100%;
  }

  &__list-wrap{
    margin-top: 28px;
    max-height: 525px;
    padding: 0 20px 0 50px;
  }

  &__list{
    margin: 0 -7px;
  }

  &__item{
    padding: 0 7px;
    margin-bottom: 14px;
    width: 50%;
  }

  .menu__item-content{
    background: #FFFFFF;
    border: 1px solid rgba(179, 179, 179, 0.2);
    box-sizing: border-box;
    border-radius: 25px;
    padding: 19px 35px 24px;

    &:hover{
      box-shadow: none;
    }
  }

  .menu__item-img{
    justify-content: flex-start;
    margin-bottom: 5px;
    padding-top: 0;

    img{
      width: 95px;
      height: 95px;
    }
  }

  .menu__item-info{
    padding: 0;
    align-items: flex-start;
  }

  .menu__item-category{
    margin-left: -5px;
  }

  .menu__item-name{
    margin-bottom: 5px;
    text-align: start;
  }
  .menu__item-desc{
    text-align: start;
    margin-bottom: 5px;
  }

  .top-basket__item-row{
    justify-content: flex-start;
  }

  .top-basket__item-price{
    margin-right: 15px;
  }

  .top-basket__item-btn{
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .mCSB_scrollTools .mCSB_draggerContainer{
    height: calc(100% - 30px);
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 3px !important;
  }

  .mCS-light-3.mCSB_scrollTools .mCSB_draggerRail{
    width: 3px !important;
    background-color: #F4F4F4;
  }

  .mCSB_inside>.mCSB_container{
    margin-bottom: 0;
    margin-right: 35px;

    &:hover{

      .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background-color: $green;
      }
    }
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $green;
  }

  &__btn{

  }

  &__btn-i{
    height: 65px;
    display: flex;
    justify-content: center;
    border-radius: 40px 40px 25px 25px;

    span{
      font-family: FuturaMediumC, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #252525;
    }
  }
}


.dish-detail{

  &__content{
    width: 600px;
    border-radius: 25px;
  }

  .card-detail__content{
    flex-direction: column;
    position: relative;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 80px;
  }

  .card-detail__img{
    background: white;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
    overflow: hidden;

    img{
      width: 140px;
      height: 140px;
    }
  }

  .card-detail__info{
    padding-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-detail__category a.menu__item-category-i{
    margin: 0 5px;
    padding: 6px 9px;
  }

  .card-detail__name{
    text-align: center;
  }

  .card-detail__row-info{
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .card-detail__tab{
    justify-content: center;
  }

  .card-detail__tab-inner{
    padding-left: 60px;
    padding-right: 40px;
    max-width: 100%;
  }

  .card-detail__tab-wrap{
    background: #F8F9F8;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .card-detail__tab-list{
    max-height: 300px;
  }

  .card-detail__tab-item{
    padding-bottom: 0;
    padding-top: 0;
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 3px !important;
  }

  .mCS-light-3.mCSB_scrollTools .mCSB_draggerRail{
    width: 3px !important;
    background-color: #F4F4F4;
  }

  .mCSB_inside>.mCSB_container{
    margin-bottom: 0;
    margin-left: 20px;

    &:hover{

      .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background-color: $green;
      }
    }
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $green;
  }

}
