footer.footer
  .footer__inner.site-container
    .footer__sotial
      a(href="#").footer__sotial-i
        include ../../img/ico/tg.svg
      a(href="#").footer__sotial-i
        include ../../img/ico/fb.svg
      a(href="#").footer__sotial-i
        include ../../img/ico/inst.svg
    .footer__copyring
      span Все права защищены © 2020
    .footer__phone
      a(href="tel:+380999830099").footer__phone-i
        picture
          source(srcset="./img/ico/vodafone.webp" type="image/webp")
          img(src="./img/ico/vodafone.png" alt="img" width="17" height="17")
        span + 380 (99) 983 00 99

.popup.callback
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.callback__content






