.menu__slider.swiper-container.menu-slider-js
  .swiper-wrapper.menu__slider-inner
    .menu__body-item.swiper-slide
      if (pageClass === "our-menu")
        .site-title.our-menu-block__title
          span Наше меню
      else

      .menu__head
        .custom-button-prev
        .site-title.menu__body-title Меню на 3 - 9 Сентября
        .custom-button-next
      .menu__body-tab
        a(href="javascript:void(0)" data-tab-nav="dishes").menu__body-tab-i.active Блюда
        a(href="javascript:void(0)" data-tab-nav="beverages").menu__body-tab-i Напитки
      .menu__body-content
        .menu__body-content-item.active(data-tab-content="dishes")
          .menu__list.custom-row
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-1.webp" type="image/webp")
                    img(src="./img/menu-img-1.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.blue Основные блюда
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-2.webp" type="image/webp")
                    img(src="./img/menu-img-2.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.green Салаты
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i.menu__item-btn-i--added
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-3.webp" type="image/webp")
                    img(src="./img/menu-img-3.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.red Закуски
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-4.webp" type="image/webp")
                    img(src="./img/menu-img-4.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.blue Основные блюда
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-5.webp" type="image/webp")
                    img(src="./img/menu-img-5.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.green Салаты
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i.menu__item-btn-i--added
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-6.webp" type="image/webp")
                    img(src="./img/menu-img-6.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.red Закуски
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
        .menu__body-content-item(data-tab-content="beverages")
          .menu__list.custom-row
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-1.webp" type="image/webp")
                    img(src="./img/menu-img-1.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.blue Основные блюда
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-2.webp" type="image/webp")
                    img(src="./img/menu-img-2.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.green Салаты
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i.menu__item-btn-i--added
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено

    .menu__body-item.swiper-slide
      if (pageClass === "our-menu")
        .site-title.our-menu-block__title
          span Наше меню
      else

      .menu__head
        .custom-button-prev
        .site-title.menu__body-title Меню на 10 - 16 Сентября
        .custom-button-next
      .menu__body-tab
        a(href="javascript:void(0)" data-tab-nav="dishes").menu__body-tab-i.active Блюда
        a(href="javascript:void(0)" data-tab-nav="beverages").menu__body-tab-i Напитки
      .menu__body-content
        .menu__body-content-item.active(data-tab-content="dishes")
          .menu__list.custom-row
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-1.webp" type="image/webp")
                    img(src="./img/menu-img-1.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.blue Основные блюда
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-2.webp" type="image/webp")
                    img(src="./img/menu-img-2.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.green Салаты
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i.menu__item-btn-i--added
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-3.webp" type="image/webp")
                    img(src="./img/menu-img-3.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.red Закуски
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-4.webp" type="image/webp")
                    img(src="./img/menu-img-4.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.blue Основные блюда
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
        .menu__body-content-item(data-tab-content="beverages")
          .menu__list.custom-row
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-1.webp" type="image/webp")
                    img(src="./img/menu-img-1.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.blue Основные блюда
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено
            .menu__item.custom-col
              .menu__item-content
                a(href="#").menu__item-img
                  picture
                    source(srcset="./img/menu-img-2.webp" type="image/webp")
                    img(src="./img/menu-img-2.png" alt="img" width="250")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.green Салаты
                  a(href="#").menu__item-name Салат с томатами,огурцами, авокадо и фетой
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br> (на 100 г блюда)
                .menu__item-bottom
                  .menu__item-price
                    span 165 UAH
                  .menu__item-btn
                    a(href="#").menu__item-btn-i.menu__item-btn-i--added
                      .menu__item-btn-ico
                        include ../../img/ico/check.svg
                      span.choose Выбрать
                      span.added Добавлено

