.popup.order-detail
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.order-detail__content
        .order-detail__title Ваш заказ
        .order-detail__list-wrap.cart-scroll-js
          .order-detail__list.custom-row
            .order-detail__item.custom-col
              .menu__item-content.order-detail__item-content
                a(href="./card.html").menu__item-img
                  picture
                    source(srcset="./img/menu-img-1.webp" type="image/webp")
                    img(src="./img/menu-img-1.png" alt="img" width="95")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.blue Основные блюда
                  a(href="./card.html").menu__item-name Рис с лососем, брокколи и томатами
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br>(на 100 г блюда)
                .top-basket__item-row
                  .top-basket__item-price 1x
                    span 165 UAH
                  .top-basket__item-count.basket-count
                    button(type="button").basket-count__btn.minus
                      include ../../img/ico/minus.svg
                    input(type="text" value="1").basket-count__input
                    button(type="button").basket-count__btn.plus
                      include ../../img/ico/plus.svg
                .top-basket__item-btn
                  a(href="javascript:void(0);").top-basket__item-btn-delete
                    include ../../img/ico/del-ico.svg
            .order-detail__item.custom-col
              .menu__item-content.order-detail__item-content
                a(href="./card.html").menu__item-img
                  picture
                    source(srcset="./img/menu-img-3.webp" type="image/webp")
                    img(src="./img/menu-img-3.png" alt="img" width="95")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.red Закуски
                  a(href="./card.html").menu__item-name Рис с лососем, брокколи и томатами
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br>(на 100 г блюда)
                .top-basket__item-row
                  .top-basket__item-price 1x
                    span 165 UAH
                  .top-basket__item-count.basket-count
                    button(type="button").basket-count__btn.minus
                      include ../../img/ico/minus.svg
                    input(type="text" value="1").basket-count__input
                    button(type="button").basket-count__btn.plus
                      include ../../img/ico/plus.svg
                .top-basket__item-btn
                  a(href="javascript:void(0);").top-basket__item-btn-delete
                    include ../../img/ico/del-ico.svg






            .order-detail__item.custom-col
              .menu__item-content.order-detail__item-content
                a(href="./card.html").menu__item-img
                  picture
                    source(srcset="./img/menu-img-1.webp" type="image/webp")
                    img(src="./img/menu-img-1.png" alt="img" width="95")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.blue Основные блюда
                  a(href="./card.html").menu__item-name Рис с лососем, брокколи и томатами
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br>(на 100 г блюда)
                .top-basket__item-row
                  .top-basket__item-price 1x
                    span 165 UAH
                  .top-basket__item-count.basket-count
                    button(type="button").basket-count__btn.minus
                      include ../../img/ico/minus.svg
                    input(type="text" value="1").basket-count__input
                    button(type="button").basket-count__btn.plus
                      include ../../img/ico/plus.svg
                .top-basket__item-btn
                  a(href="javascript:void(0);").top-basket__item-btn-delete
                    include ../../img/ico/del-ico.svg
            .order-detail__item.custom-col
              .menu__item-content.order-detail__item-content
                a(href="./card.html").menu__item-img
                  picture
                    source(srcset="./img/menu-img-3.webp" type="image/webp")
                    img(src="./img/menu-img-3.png" alt="img" width="95")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.red Закуски
                  a(href="./card.html").menu__item-name Рис с лососем, брокколи и томатами
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br>(на 100 г блюда)
                .top-basket__item-row
                  .top-basket__item-price 1x
                    span 165 UAH
                  .top-basket__item-count.basket-count
                    button(type="button").basket-count__btn.minus
                      include ../../img/ico/minus.svg
                    input(type="text" value="1").basket-count__input
                    button(type="button").basket-count__btn.plus
                      include ../../img/ico/plus.svg
                .top-basket__item-btn
                  a(href="javascript:void(0);").top-basket__item-btn-delete
                    include ../../img/ico/del-ico.svg
            .order-detail__item.custom-col
              .menu__item-content.order-detail__item-content
                a(href="./card.html").menu__item-img
                  picture
                    source(srcset="./img/menu-img-1.webp" type="image/webp")
                    img(src="./img/menu-img-1.png" alt="img" width="95")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.blue Основные блюда
                  a(href="./card.html").menu__item-name Рис с лососем, брокколи и томатами
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br>(на 100 г блюда)
                .top-basket__item-row
                  .top-basket__item-price 1x
                    span 165 UAH
                  .top-basket__item-count.basket-count
                    button(type="button").basket-count__btn.minus
                      include ../../img/ico/minus.svg
                    input(type="text" value="1").basket-count__input
                    button(type="button").basket-count__btn.plus
                      include ../../img/ico/plus.svg
                .top-basket__item-btn
                  a(href="javascript:void(0);").top-basket__item-btn-delete
                    include ../../img/ico/del-ico.svg
            .order-detail__item.custom-col
              .menu__item-content.order-detail__item-content
                a(href="./card.html").menu__item-img
                  picture
                    source(srcset="./img/menu-img-3.webp" type="image/webp")
                    img(src="./img/menu-img-3.png" alt="img" width="95")
                .menu__item-info
                  .menu__item-category
                    a(href="javascript:void(0);").menu__item-category-i.red Закуски
                  a(href="./card.html").menu__item-name Рис с лососем, брокколи и томатами
                  .menu__item-desc 122 кКал, БЖУ: 5.0 / 4.0 / 21.0 <br>(на 100 г блюда)
                .top-basket__item-row
                  .top-basket__item-price 1x
                    span 165 UAH
                  .top-basket__item-count.basket-count
                    button(type="button").basket-count__btn.minus
                      include ../../img/ico/minus.svg
                    input(type="text" value="1").basket-count__input
                    button(type="button").basket-count__btn.plus
                      include ../../img/ico/plus.svg
                .top-basket__item-btn
                  a(href="javascript:void(0);").top-basket__item-btn-delete
                    include ../../img/ico/del-ico.svg

        .order-detail__btn
          a(href="./cart.html").order-detail__btn-i.site-btn.site-btn--yellow
            span Оформить заказ - 565 UAH



.popup.dish-detail
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.dish-detail__content
        .card-detail__content
          .card-detail__img
            picture
              source(srcset="./img/card-detail-img.webp" type="image/webp")
              img(src="./img/card-detail-img.png" alt="img" width="140")
          .card-detail__info
            .menu__item-category.card-detail__category
              a(href="javascript:void(0);").menu__item-category-i.blue Основные блюда
            .card-detail__name Рис с лососем, брокколи и томатами
            .card-detail__row-info
              span Готовить с 1 по 7 день
              span
                include ../../img/ico/mini-plate.svg
                | 250 г
              span
                include ../../img/ico/mini-watch.svg
                | 45 мин

        .card-detail__tab
          .card-detail__tab-link
            a(href="javascript:void(0);" data-tab-card="we-will-deliver").card-detail__tab-i.active Мы привезем
          .card-detail__tab-link
            a(href="javascript:void(0);" data-tab-card="home-should-be").card-detail__tab-i Дома должно быть
          .card-detail__tab-link
            a(href="javascript:void(0);" data-tab-card="calories-and-bju").card-detail__tab-i Калории и БЖУ

        .card-detail__tab-wrap
          .card-detail__tab-inner.site-container
            .card-detail__tab-list.cart-scroll-js
              .card-detail__tab-item.active(data-tab-card-content="we-will-deliver")
                .card-detail__tab-row
                  span Говядина мякоть
                  span 250г
                .card-detail__tab-row
                  span Лук репчатый 90-150 гр
                  span 1 шт
                .card-detail__tab-row
                  span Лук репчатый 90-150 гр
                  span 1 шт
                .card-detail__tab-row
                  span Лук репчатый 90-150 гр
                  span 1 шт
                .card-detail__tab-row
                  span Лук репчатый 90-150 гр
                  span 1 шт
                .card-detail__tab-row
                  span Лук репчатый 90-150 гр
                  span 1 шт
              .card-detail__tab-item(data-tab-card-content="home-should-be")
                .card-detail__tab-row
                  span Говядина мякоть
                  span 250г
                .card-detail__tab-row
                  span Лук репчатый 90-150 гр
                  span 1 шт
                .card-detail__tab-row
                  span Лук репчатый 90-150 гр
                  span 1 шт
              .card-detail__tab-item(data-tab-card-content="calories-and-bju")
                .card-detail__tab-head На 100 г блюда:
                .card-detail__tab-row
                  span Белки
                  span 8.12 г
                .card-detail__tab-row
                  span Жиры
                  span 6.41 г
                .card-detail__tab-row
                  span Углеводы
                  span 12.9 г
                .card-detail__tab-row
                  span Калорийность
                  span 138.9 ккал
