extends _layout

block vars
  - var pageTitle = "Card page";
  - var pageClass = "card-page";
  - var pageActive = "card-page";
block content

  div.main-wrap
    .breadcrumb
      .breadcrumb__inner.site-container
        a(href="./").breadcrumb__i Главная
        a(href="./our-menu.html").breadcrumb__i Меню
        span.breadcrumb__i Рис с лососем, брокколи и томатами

    .card-detail
      .card-detail__inner
        .card-detail__content
          .card-detail__img
            picture
              source(srcset="./img/card-detail-img.webp" type="image/webp")
              img(src="./img/card-detail-img.png" alt="img" width="300")
          .card-detail__info
            .menu__item-category.card-detail__category
              a(href="javascript:void(0);").menu__item-category-i.blue Основные блюда
            .card-detail__name Рис с лососем, брокколи и томатами
            .card-detail__row-info
              span Готовить с 1 по 7 день
              span
                include ../img/ico/mini-plate.svg
                | 250 г
              span
                include ../img/ico/mini-watch.svg
                | 45 мин

            .card-detail__bottom
              .card-detail__bottom-col
                .card-detail__price 265 UAH
                .card-detail__price-desc Цена за 1 порцию /
                  span 250г
              .card-detail__bottom-btn
                a(href="./top-basket.html").card-detail__bottom-btn-i.site-btn.site-btn--yellow
                  span Добавить к заказу

        .card-detail__tab
          .card-detail__tab-link
            a(href="javascript:void(0);" data-tab-card="we-will-deliver").card-detail__tab-i.active Мы привезем
          .card-detail__tab-link
            a(href="javascript:void(0);" data-tab-card="home-should-be").card-detail__tab-i Дома должно быть
          .card-detail__tab-link
            a(href="javascript:void(0);" data-tab-card="calories-and-bju").card-detail__tab-i Калории и БЖУ

      .card-detail__tab-wrap
        .card-detail__tab-inner.site-container
          .card-detail__tab-list
            .card-detail__tab-item.active(data-tab-card-content="we-will-deliver")
              .card-detail__tab-row
                span Говядина мякоть
                span 250г
              .card-detail__tab-row
                span Лук репчатый 90-150 гр
                span 1 шт
              .card-detail__tab-row
                span Лук репчатый 90-150 гр
                span 1 шт
              .card-detail__tab-row
                span Лук репчатый 90-150 гр
                span 1 шт
              .card-detail__tab-row
                span Лук репчатый 90-150 гр
                span 1 шт
              .card-detail__tab-row
                span Лук репчатый 90-150 гр
                span 1 шт
            .card-detail__tab-item(data-tab-card-content="home-should-be")
              .card-detail__tab-row
                span Говядина мякоть
                span 250г
              .card-detail__tab-row
                span Лук репчатый 90-150 гр
                span 1 шт
              .card-detail__tab-row
                span Лук репчатый 90-150 гр
                span 1 шт
            .card-detail__tab-item(data-tab-card-content="calories-and-bju")
              .card-detail__tab-head На 100 г блюда:
              .card-detail__tab-row
                span Белки
                span 8.12 г
              .card-detail__tab-row
                span Жиры
                span 6.41 г
              .card-detail__tab-row
                span Углеводы
                span 12.9 г
              .card-detail__tab-row
                span Калорийность
                span 138.9 ккал

    .our-menu-block
      .our-menu-block__inner.site-container
        .our-menu-block__body
          include modules/_menu

