extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";
block content
  div.main-wrap
    .top-block
      .top-block__inner.site-container
        .top-block__item
          .top-block__img
            picture
              source(srcset="./img/top-bunner.webp" type="image/webp")
              img(src="./img/top-bunner.png" alt="img").top-block__img-i
          .top-block__item-body
            .top-block__title Лучшее питание <br> с доставкой на дом
            .top-block__txt Наша миссия - быть надежным поставщиком качественных <br> продуктов, готовить которые одно удовольствие.
            .top-block__btn
              a(href="./trial-dish.html").site-btn.site-btn--yellow.top-block__btn-i
                span Пробное блюдо
              a(href="./our-menu.html").site-btn.site-btn--yellow.site-btn--transparent.white.top-block__btn-i
                span Смотреть меню

    .hiw
      .hiw__inner.site-container
        .site-title.hiw__title Как это работает?
        .hiw__list
          .hiw__item.hiw__item--1
            .hiw__item-img
              img(src="./img/plate-1.svg" alt="plate" width="67" height="67")
            .hiw__item-title Выбирайте <br> меню и блюда
            .hiw__item-txt Ингредиенты расфасованы под рецепты,<br> доставка бесплатна.
          .hiw__item.hiw__item--2
            .hiw__item-img
              img(src="./img/plate-1.svg" alt="plate" width="67" height="67")
            .hiw__item-title Выбирайте <br> меню и блюда
            .hiw__item-txt Ингредиенты расфасованы под рецепты,<br> доставка бесплатна.
          .hiw__item.hiw__item--3
            .hiw__item-img
              img(src="./img/plate-1.svg" alt="plate" width="67" height="67")
            .hiw__item-title Выбирайте <br> меню и блюда
            .hiw__item-txt Ингредиенты расфасованы под рецепты,<br> доставка бесплатна.

    .menu
      .menu__container.site-container
        .menu__body
          include modules/_menu
          .info-block
            .info-block__txt
              .info-block__title Мы - доставка только лучшего питания
              p Наша миссия - быть для вас надежным поставщиком качественных продуктов, готовить которые одно удовольствие.
              .info-block__btn
                a(href="./delivery-and-payment.html").info-block__btn-i.site-btn.site-btn--yellow.site-btn--transparent
                  span Больше о нашей миссии
            .info-block__img
              picture
                source(srcset="./img/info-block-img.webp" type="image/webp")
                img(src="./info-block-img.png" alt="img" width="550" height="360")




