extends _layout

block vars
  - var pageTitle = "Our menu";
  - var pageClass = "our-menu";
  - var pageActive = "our-menu";
block content

  div.main-wrap
    .our-menu-block
      .our-menu-block__inner.site-container
        .our-menu-block__body
          include modules/_menu