extends _layout

block vars
  - var pageTitle = "Top basket";
  - var pageClass = "topBasket";
  - var pageActive = "topBasket";
  - var topBasket = true;
block content

  div.main-wrap
    .our-menu-block
      .our-menu-block__inner.site-container
        .our-menu-block__body
          include modules/_menu